.news-list {
  time.date {
    display: block;
    color: $gray-600;
    margin-bottom: 2rem;
    font-size: .9rem;
  }
}

.news {
  section.main {
    padding-top: 8rem;
  }

  #mainNav {
    @media (min-width: 992px) {
      background-color: #000;

      &.navbar-shrink {
        background-color: #fff;
      }
    }
  }
}

.news-list, .news {
  img {
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}