<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto" itemscope itemtype="http://schema.org/LocalBusiness">
				<p class="title" itemprop="name">Cours de chant Paris</p>
				<p>
					<a href="https://www.facebook.com/courschantparis">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
						Suivez-nous sur Facebook
					</a>
				</p>
				<p>
					<a href="/contact/">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
						</span>
						Contactez-nous
					</a>
				</p>
				<p>
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span>
					<span itemprop="telephone" content="+336582738826">+33 6 58 72 88 26</span>
				</p>
			</div>
		</div>
	</div>
</footer>