<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ .Page.Description }}">

	<title>{{ .Page.Title }} | {{ .Site.Title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<!-- Plugin CSS -->
	<link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/creative.min.css" rel="stylesheet">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123956208-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-123956208-1');
	</script>

</head>

<body id="page-top">

{{ partial "navigation.html" . }}

<header class="masthead text-center text-white d-flex">
	<div class="container my-auto">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h1 class="text-uppercase">
					<strong>Libérez votre voix&nbsp;!</strong>
				</h1>
				<hr>
			</div>
			<div class="col-lg-8 mx-auto">
				<p class="text-faded mb-5">Cours de chant personnalisés pour réveiller le chanteur qui sommeille en vous</p>
				<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Découvrir</a>
			</div>
		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-3" id="about-mic">
				<img src="img/mic-small.jpg" class="circled" width="200" height="200" alt="Microphone">
			</div>
			<div class="col-lg-8 my-auto" id="about-text">
				<h2 class="section-heading text-white">Découvrez ou développez votre voix</h2>
				<p class="text-faded mb-4 mt-4">Que vous soyez débutant ou confirmé, enfant ou adulte, progressez
					efficacement grâce à une approche globale qui associe diverses techniques classiques et modernes,
					des connaissances précises en anatomie vocale et les apports de la pédagogie musicale.</p>
			</div>
		</div>
	</div>
</section>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Des cours de qualité pour tous</h2>
				<hr class="my-4">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Prof pédagogue passionnée</h3>
					<p class="text-muted mb-0">Chanteuse professionnelle, professeur de chant et coach vocal, diplômée en pédagogie.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-address-card-o text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Un enseignement personnalisé</h3>
					<p class="text-muted mb-0">Véritable pédagogie sur-mesure selon vos objectifs et votre profil, à votre rythme.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-smile-o text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Une approche efficace et ludique</h3>
					<p class="text-muted mb-0">Utilisez votre voix pleinement grâce à des exercices simples, basés sur la physiologie de votre instrument.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box mt-5 mx-auto">
					<i class="fa fa-4x fa-music text-primary mb-3 sr-icons"></i>
					<h3 class="mb-3">Pour tous les styles de musique</h3>
					<p class="text-muted mb-0">Une approche globale qui vous permettra de chanter juste, de gagner en intensité et en expression.</p>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<div class="cta-footer text-center">
					<a class="btn btn-primary btn-xl" href="/offres/" role="button">Je découvre les offres</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-dark text-white">
	<div class="container text-center">
		<h2 class="mb-4">A Saint-Maurice, Joinville le Pont, ou depuis votre salon</h2>
		<hr class="my-4">
		<p>
			Cours presentiels à Saint-Maurice et Joinville le Pont (94), ou en visioconférence.
		</p>
		<p class="mt-5 mb-0">
			<a class="btn btn-light btn-xl sr-button" href="/en_pratique/">Voir les infos pratiques</a>
		</p>
	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading">Vous avez des questions&nbsp;?</h2>
				<hr class="my-4">
				<p class="mb-5">N'hésitez pas à nous contacter pour tout renseignement.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
				<p>
					<a href="/contact/">Formulaire de contact</a>
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

</body>

</html>
